.header {
  position: fixed; /* 위쪽에 고정 */
  top: 0;
  left: 0;
  width: 100%; /* 화면 전체 가로 크기 */
  display: flex;
  justify-content: space-between; /* h1과 버튼 영역을 양쪽에 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 10px 10px; /* 상하, 좌우 여백 */
  background-color: #76aade; /* 헤더 배경색 */
  color: white; /* 텍스트 색상 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 아래에 그림자 효과 */
}

.header-controls {
  margin-left: auto; /* 오른쪽 정렬 */
  padding-right: 30px;
  display: flex; /* 버튼들을 가로로 나열 */
  align-items: center; /* 수직 가운데 정렬 */
}

.header-controls button {
  margin-left: 10px; /* 버튼 간의 간격 조정 */
  padding: 5px 10px; /* 버튼 내부 여백 */
  border: none; /* 테두리 제거 */
  background-color: #1abc9c; /* 버튼 배경색 */
  color: white;
  cursor: pointer;
  border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.header-controls button:hover {
  background-color: #e36450; /* 버튼 호버 시 색상 변경 */
}